body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 18px;
    line-height: 1.6;
    color: #656565;
    
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Container */
.container {
    width: 100%;
    max-width: 1149px;
    margin: 0 auto;
}

/* Intro */
.intro {
    display: flex;
    justify-content: center;
    margin-top: 156px;
    width: 1149px;
    height: 561px;
    
    background: url("../images/seamless-pattern-tropical-leaves-with-1537277.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    padding-top: 148px;
    width: 100%;
    max-width: 366px;
    
    text-align: center;
}

.intro__title {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    
    text-transform: lowercase;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 55px;
    height: 2px;
    
    background-color: #fff;
    margin: 27px auto 27px;
}

.intro__subtitle {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    
    text-transform: lowercase;
    line-height: 1;
}

/* Header */
.header {
    width: 100%;
    padding-top: 70px;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #000000;
}


/* Nav */
.nav {
    font-size: 18px;
    text-transform: lowercase;
}

.nav__link {
    display:  inline-block;
    vertical-align: top;
    margin: 0 12px;
    
    color: #989898;
    text-decoration: none;
    
    transition: color 0.2s linear;
}

.nav__link:hover {
    color: #a3c9aa;
}

/* Button */
.btn {
    margin-top: 81px;
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    
    border: 2px solid #fff;
    border-radius: 40px;
    
    font-size: 18px;
    font-weight: 300;
    background-color: #fff;
    color: #000000;
    text-transform: lowercase;
    text-decoration: none;
    
    transition: background 0.5s linear, color 0.5s linear, border 0.5s linear;
}

.btn:hover {
    border: 2px solid #a3c9aa;
    background-color: #a3c9aa;
    color: #000000;
}

/* Dot */
.slider {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.slider__item {
    width: 23%;
    padding: 20px 0;
    position: relative;
    
    border-top: 2px solid #fff;
    opacity: 0.7;
    
    font-size: 14px;
    color: #fff;
    text-transform: lowercase;
    
    
    
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    
    background-color: #000000;
    
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 1;
}

.slider__num {
    font-size: 18px;
    font-weight: 700;
}

